<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar jugador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12 text-center">
				<h2>Mostrar jugador</h2>
			</div>
        </div>
		    <div class="col-12 border rounded">
                    <div class="form-row row m-2">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Nombre</th>
                                  <th scope="col">Dif. Puntos</th>
                                  <th scope="col">Jugados</th>
                                  <th scope="col">Acciones</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td><%= player.name %> </td>
                                  <td><%= player.difference %></td>
                                  <td><%= player.total_played %></td>
                                  <td>
                                      <form action=<%=`/players/${player.id}?_method=DELETE`%> method="POST">
                                          <button class="btn btn-danger">
                                            Eliminar jugador
                                          </button> 
                                          <a class="btn btn-primary" href=<%=`/players/${player.id}/edit`%> >
                                            Modificar Jugador
                                          </a>
                                      </form>
                                  </td>
                                </tr>
                              </tbody>
                        </table>
                        <div class="row">
                            <h4>Detalle partidos jugados</h4>
                            <% player.matches.forEach((match) => { %>
                                <div class="col border rounded mx-2 px-2">
                                    <h5>Partido # <%=match.id%> </h5>
                                    <div class="row">
                                        <div class="col-6">
                                            <h6>Fecha</h6>
                                            <%=match.date.toString().slice(0,16)%>
                                        </div>
                                       <!-- <div class="col-6">
                                            <h6>Hora</h6>
                                            // <%=match.date.toLocaleString().slice(11,19)%>
                                       </div> -->
                                    </div>
                                    <div class="row mt-4">
                                        <h6>Diferencia de puntos</p>
                                        <%=match.MatchPlayer.difference%>  
                                   </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
		        </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>	
</html>